{% extends "base_generic.html" %}
{% load cloudinary %}

<!-- Unsure why this is not working, work it out later -->

{% block navbar %}
    <div class="navbar">
        <div class="items">
            <h2>LOGO HERE</h2>
        </div>
        <div class="items selections">
            <ul>
                <li>
                    All works
                </li>
                <li>
                    Own recipe
                </li>
                <li>
                    About
                </li>
            </ul>
        </div>
    </div>
{% endblock %}