.about-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 42vh;
}

.about-container div:first-child{
    text-align: center;
}

.about-container p {
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    padding: 16px;
    border-radius: 8px;
    color: #3a5f44;
    font-weight: bold;
    text-align: justify;
}

.about-container img{
    width: auto;
}