.dsp-block{
    display: block;
}

.dsp-columns{
    background-color: transparent;
    padding: 0px;
    margin: 16px 0px;
}

.dsp-columns img{
    padding: 0px;
}

.slides{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.slides img{
    object-fit: fill;
    border-radius: 8px;
    height: 100%;
}

.dsp-columns img:hover, .d-arrow{
    cursor: pointer;
}

.slides h2 {
    font-size: 16vw;
}

.img-active{
    padding: 8px 4px !important;
    box-shadow: none;
}

.img-active:hover{
    transform: none;
    cursor: default !important;
}

.d-arrow{
    padding: 16px;
}