.dsp-block{
    display: block;
}

.dsp-columns{
    background-color: transparent;
    padding: 0px;
    margin: 16px 0px;
}

.dsp-columns img{
    padding: 0px;
}

.slides{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    justify-items: center;
    height: 70vh;
}

.slides img {
    border-radius: 2%;
    object-fit: cover;
    height: 70vh;
    width: auto;
}

.dsp-columns img:hover, .d-arrow{
    cursor: pointer;
}

.slides h2 {
    font-size: 16vw;
    margin: 0px;
    text-shadow: 4px 8px 4px rgb(0 0 0 / 50%);
    background: transparent;
    box-shadow: none;
    transition: 0.7;
}

.slides h2:hover {
    text-shadow: none;
}

.img-active{
    padding: 8px 4px !important;
    box-shadow: none;
}

.img-active:hover{
    transform: none;
    cursor: default !important;
}

.d-arrow{
    padding: 16px;
}

.detail-bigimg{
    height: 100%;
    width: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

