.footer {
    display: flex;
    justify-content: space-between;
    background: #3a5f44;
    height: 80px;
}

.footer div {
    margin: 0px 56px;
}

.footer .follow{
    display: flex;
    align-items: center;
    color: rgba(177, 221, 189, 1);
}

.footer .container-footerimg{
    display: flex;
    align-items: flex-end;
}

.icon {
    height: 24px;
    width: 24px;
    margin: 8px;
}

.follow a img{
    filter: opacity(30%);
    transition: 0.5s;
    
}

.follow a img:hover{
    filter: opacity(100%);
}

.footerimg{
    height: 100px;
    z-index: 1;
    transform: scaleX(-1);
}