.list-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 48px 0px;
    background-color: rgba(177, 221, 189, 0.8);
    padding: 24px 16px 56px 16px;
    border-radius: 48px;
    grid-gap: 56px 16px;
}

.list-h1{
    background-color: #B1DDBD;
    border-radius: 48px;
}

@media only screen and (max-width: 1500px) {
    .list-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1250px) {
    .list-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .list-container {
        grid-template-columns: 1fr;
        grid-gap: 5vh;
        margin: 48px 0px 0px 0px;
    }
}