/* Organise into different files later! */

@import "../amigurumis/partials/index.css";

html{
    background-color: #3a5f44;
}

body{
    /* background-color: #F5F5F5; */
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1618574760337-2750f6251d20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    margin: 32px 32px 0px 32px;
}

h1{
    font-family: 'Pushster', cursive;
    font-size: 6vw;
    margin: 0px;
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
    font-family: 'Handlee', cursive;
    color: #3a5f44;
    font-size: 2vw;
}

p, li, div{
    font-family: 'Prompt', sans-serif;
}

a{
    text-decoration: none;
}

/* Colours
brown: #B07156
green: #B1DDBD
pink: #FFCAD4
darkbrown: #6B4F57
darkpink: #F4ACB7
white: #F5F5F5

darkgreen: ##3a5f44
*/

/* Media Queries */

@media only screen and (max-width: 1500px) {
    .list-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1250px) {
    .list-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    body{
        padding: 0px 0px 4vh 0px;
    }

    .banner img {
        height: auto;
        width: 15vw;
    }

    .banner {
        height: 40vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 16px 48px;
    }

    .navbar {
        justify-content: center;
    }

    .home-links {
        display: flex;
        position: relative;
        left: 0px;
        margin: 16px 48px;
        flex-direction: column;
        gap: 4vmin;
    }

    h2 {
        font-size: 12px;
    }

    .footer{
        font-size: 12px;
        display: none;
    }

    .navbar img{
        height: 32px;
    }

    .list-container {
        grid-template-columns: 1fr;
        grid-gap: 5vh;
        margin: 48px 0px 0px 0px;
    }

    .list-card {
        width: 60vw;
        height: 40vh;
    }

    .list-name {
        font-size: 12px;
        padding: 8px 0px;
    }
}

