/* Organise into different files later! */

html{
    background-color: #B1DDBD;
}

body{
    background-color: #F5F5F5;
    margin: 32px 32px 0px 32px;
    border-radius: 48px;
}

h1{
    font-family: 'Pushster', cursive;
    font-size: 80px;
    margin: 0px;
    color: #6b4f57;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
    font-family: 'Pacifico', cursive;
    color: #6B4F57;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

p, li, a, div{
    font-family: 'Prompt', sans-serif;
}

/* Colours
brown: #B07156
green: #B1DDBD
pink: #FFCAD4
darkbrown: #6B4F57
darkpink: #F4ACB7
white: #F5F5F5
*/


/* Navbar: */

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.navbar div {
    margin: 0px 56px;
    display: flex;
    align-items: center;
}

.navbar img{
    height: 80px;
}

ul{
    padding: 0px;
    list-style-type: none;
    display: flex;
    
}

ul li{
    margin: 0px 16px;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    background: #B1DDBD;
    height: 80px;
    
}

.footer div {
    margin: 0px 56px;
}

.footer .follow{
    display: flex;
    align-items: center;
}

.footer .container-footerimg{
    display: flex;
    align-items: flex-end;
}

.icon {
    height: 24px;
    width: 24px;
    margin: 8px;
}

.follow a img{
    filter: opacity(30%);
    transition: 0.5s;
    
}

.follow a img:hover{
    filter: opacity(100%);
}

.footerimg{
    height: 240px;
}


/* Homepage */

.banner{
    background-image: url("https://images.unsplash.com/photo-1538437616090-64c780652422?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    margin: 24px 56px;
    padding: 0px 80px;
    height: 600px;
    background-size: cover;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner img{
    height: 500px;
}

.banner-writing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-examples{
    margin: 24px 56px;
}

.home-examples h2{
    text-align: center;
    background-color: #B1DDBD;
    border-radius: 48px;
}

.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px;
    margin: 48px 0px 80px 0px ;
}



/* Buttons */

.btn-banner{
    color: #B1DDBD;
    text-decoration: underline;
    font-size: 56px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
    margin: 50px 0px 0px 0px;
    transition: 0.5s;
}

.btn-banner:hover{
    color: white;
    text-decoration: underline;
    text-shadow: none;
}

/* Card */

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 16px rgb(0 0 0 / 50%);
    height: 400px;
    border-radius: 48px;
    background-color: #B1DDBD;
}

.card img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 48px;
    transition: 1s;
}

.card img:hover {
    border-radius: 400px;
}

