{% extends "base_generic.html" %}
{% load cloudinary %}

{% block content %}
    <div class="margin">
        <h1 class="txt-centered list-h1">About</h1>
        <div class="list-container about-container">
            <div>
                {% cloudinary about.photo format="png" height=300 width="280" crop="fit" class="img-fillfit"%}
                
            </div>
            <div>
                <p>
                    {{about.description}}
                </p>
            </div>
        </div>
    </div>
{% endblock %}