{% extends "base_generic.html" %}
{% load cloudinary %}

{% block content %}
    <div class="margin">
        <h1 class="txt-centered list-h1">{{page_name}}</h1>
        {% if amigurumi_list %}
        <ul>
        <div class="home-container list-container container-lrgmargin">
            {% for amigurumi in amigurumi_list %}
            <li>
                <a href="#">
                    <div class="card list-card">
                        {% cloudinary amigurumi.images.first.image format="png" height=300 width="280" crop="fit" %}
                        {{ amigurumi.name }}
                    </div>
                </a>
                <!-- Substitute above for the corresponding to  amigurumi.get_absolute_url  when it's done! -->
            </li>
            {% endfor %}
        </div>
        </ul>
        {% else %}
        <p>There are no amigurumis present.</p>
        {% endif %}
    </div>
{% endblock %}
