{% extends "base_generic.html" %}
{% load cloudinary %}

{% block content %}
    <div class="margin">
        <h1 class="txt-centered list-h1">{{amigurumi}}</h1>
        <div class="list-container dsp-block">
            <div class="container">
                <!-- Sliding images! -->
                <div class="mySlides">
                      <img src="img_woods_wide.jpg" style="width:100%">
                </div>

            </div>
            <div class="home-container list-container container-lrgmargin dsp-columns">
                <!-- The expanding image container -->
                {% for image in amigurumi.images.all %}
                <!-- Code carrossel here later -->
                    {% cloudinary image.image format="png" height=300 width="280" crop="fit" class="img-fillfit img-detail" onclick="myFunction(this);" %}
                {% endfor %}
            </div>
            {% if amigurumi.url %}
                <a href="{{amigurumi.url}}" target=”_blank” class="homel btn-detail">Buy here!</a>
            {% endif %}
        </div>
    </div>
{% endblock %}