<!-- prettier-ignore -->
{% extends "base_generic.html" %} {% load cloudinary %} {% load static %}
{% load compress %} {% block content %} {% compress css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'amigurumis/style.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'amigurumis/partials/homepage.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'amigurumis/partials/index.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'amigurumis/partials/list.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'amigurumis/partials/buttons.css' %}"
/>
{% endcompress %}

<div class="margin">
  <h1 class="txt-centered list-h1">Socials</h1>
  <div class="home-container home-2fr">
    <a
      href="https://www.etsy.com/shop/thegardenofyarns"
      target="”_blank”"
      class="btn-banner"
    >
      <div>
        <h3>Etsy</h3>
      </div>
      <div>
        <p>Patterns in english, spanish and portuguese (worldwide)</p>
      </div>
    </a>
    <a
      href="https://www.elo7.com.br/thegardenofyarns"
      target="”_blank”"
      class="btn-banner"
    >
      <div>
        <h3>Elo7</h3>
      </div>
      <div>
        <p>Patterns in portuguese (only in Brazil)</p>
      </div>
    </a>
    <a
      href="https://pt-br.facebook.com/thegardenofyarns/"
      target="”_blank”"
      class="btn-banner"
    >
      <div>
        <h3>Facebook</h3>
      </div>
      <div>
        <p>Like me!</p>
      </div>
    </a>
    <a
      href="https://www.instagram.com/thegardenofyarns/"
      target="”_blank”"
      class="btn-banner"
    >
      <div>
        <h3>Instagram</h3>
      </div>
      <div>
        <p>Follow me!</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}
